*{
    margin: 0;
    padding: 0;
    text-align: center;
}
.row-header{
    background-color:black;
}
.row{
    padding: 4px 0px;
    font-size: smaller;
    font-weight: 500;
    color:lightgray;
}
li{
    list-style: none;
    padding: 0px 10px;
    display: inline-block;
}
a:active, a:visited{
    text-decoration: none !important;
    color:lightgray;
}
a:hover{
    text-decoration: none !important;
    color: red !important;
    font-weight: 650;
}
.header-text{
    color: white !important;
}